.headerSimpleImg{
width: 100%;
height: 450px;
object-fit: cover;
object-position: top;
}
.sctionMdTitle{
font-size: 40px;
text-transform: uppercase;
font-weight: 500;
}
.simpleCard{
text-align: center;
padding: 40px 40px;
box-shadow: 0px 19px 30px #00000012;
}
.cardTitle{
font-size: 30px;
text-transform: uppercase;
font-weight: 500;
color: #136DAE;
margin-bottom: 20px;
}
.cardIcon{
width: 150px;
height: 150px;
object-fit: contain;
}

.aboutPgSection{
padding:80px 0px 60px 0px;
}
.userCard{
padding: 22px;
background-color: #e6e6e6;
border: 1px solid #bfbfbf;
box-shadow: 0px 1px 6px #0000001f;
}
.fillBtn.crdReadMorebtn {
background-color: #2f3c6a;
color: #fff;
border: 0px;
box-shadow: 0px 3px 5px #00000052;
transition: 0.3s ease;
border: 1.5px solid #2f3c6a;
display:flex;
align-items: center;
justify-content: center;
width: 150px;
text-decoration: none;
height: 40px;
font-size: 12px;
font-weight: 600;
}
.fillBtn.crdReadMorebtn:hover {
box-shadow: unset;
color: #2f3c6a;
border: 1.5px solid #2f3c6a;
background-color: #fff;
}
.leaderImg{
width: 100%;
height: 450px;
object-fit: cover;
object-position: top;
}
.userCard .cardContent{
padding: 20px 20px 0px 20px;
text-align: center;
width: 100%;
position: relative;
}
.leadersSection{
margin-bottom: 60px;
}
.userCard .fillBtn.crdReadMorebtn{
position: absolute;
left: 50%;
transform: translateX(-50%);
}
.userCard .cardContent .crdTitle{
font-size: 22px;
color: #3f3f3f;
font-weight: 600;
}
.userCard .cardContent  .crdText{
color: #136DAE;
font-size: 18px;
font-weight: 500;
}