.header.careerHeader{
    position: relative;
}
.careerHeader .headerImgVideo{
width: 100%;
height: 100%;
max-height: 400px;
object-fit: cover;
}
.header.careerHeader .headConentBox{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headTitle{
color: #fff;
font-size: 44px;
font-weight: 400;
}
.careerHeader .btn{
border-radius: 0px;
}
.careerHeader .fillBtn{
background-color:#2F3C6A ;
color: #fff;
font-size: 16px;
padding:12px 24px;
text-decoration: none;
display: flex;
align-items: center;
gap: 10p x;
width: fit-content !important;
}
.careerHeader .fillBtn:hover{
background-color:#2F3C6A;
color: #fff;
}
.linkBtn{
font-weight: 600;
}

.btnRightArrow{
width: 24px;
height: 24px;
object-fit: contain;
transition: 0.5s ease;
}
.fillBtn.linkBtn:hover .btnRightArrow{
transform: translateX(10px);   
}
.sctionMdTitle{
font-size: 40px;
text-transform: uppercase;
font-weight: 500; 
}

.swiper {
width: 100%;
height: 100%;
}

.swiper-slide {
text-align: center;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
padding:30px 20px;

}

.counterBox{
padding:20px 20px 0px;
width: 100%;
box-shadow: 0px 15px 30px #00000036;
min-height: 200px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

.swiper {
margin-left: auto;
margin-right: auto;
}
.counterTit{
font-size: 36px;
font-weight: 800;
margin-bottom: 10px;
}
.countertext{
color:#3f3f3f;
font-size: 20px;
font-weight: 400;
}
.multiCarouselSection{
margin: 60px 0px;
}
.multiItemsCarousel .swiper-wrapper{
padding: 20px 0px 40px;
}
.listCardArea{
padding: 30px 40px;
box-shadow:0px 15px 30px #0000001f;
margin-bottom: 50px;
position: relative;
}
.listflexRow{
display: flex;
align-items: center;
gap: 20px;
margin-bottom: 30px;
}
.listflexBar{
display: flex;
align-items: center;
gap: 8px;
}
.listflexBar p{
color:#136DAE !important;
margin: 0px;
font-size: 18px;
font-weight: 600;
}
.listflexBar .iconImg{
width: 24px;
height: 24px;
object-fit: contain;
}
.listCardTit{
font-size:30px;
font-weight: 500;
}
.fillBtn.appleNowBtn{
width: 200px;
text-align: center;
font-size:12px ;
display: block;
font-weight: 600;
height: 44px;
}
.listCardArea .fillBtn.appleNowBtn{
position: absolute;
right: 30px;
top: 32px;
justify-content: center;
display: flex;
align-items: center;
justify-content: center;
}
.ListingSection{
padding-top: 60px;
border-top:1px solid #0000004f;
padding-bottom: 60px;
}
.pWt600{
font-weight: 600;
}
.careerHeader .bdrBtn.fillBtn{
background-color: #136DAE;
color: #fff;
border: 0px;
box-shadow: 0px 3px 5px #00000052;
transition: 0.3s ease;
border: 1.5px solid #136DAE;
font-size: 18px;
text-align: center;
width: 140px;
display: flex;
justify-content: center;
}
.bdrBtn.fillBtn:hover{
box-shadow: unset;
background-color: unset;
color: #136DAE;
border: 1.5px solid #136DAE;
}
.mr-auto{
margin: 0 auto;
}
.listTitle{
font-size: 24px;
color: #3f3f3f;
font-weight: 500;
}
.ulList{
padding: 0px;
margin: 0px;
}
.ulList {
    list-style-image: url(../images/icons/tick-icon1.ico);
}
.ulList li{
    /* font-size: 14px !important; */
    color: #6F6D71 !important;
    margin: 0px;
}
.ulList li {
    margin-bottom: 5px;
}
.checkListItem{
position: relative;
display: flex;
align-items:flex-start;
gap: 10px;
margin-bottom: 15px;
}
.tikIcon{
width: 16px;
height: 16px;
object-fit: contain;
position: relative;
top: 2px;
}
.ulList{
list-style-type: none;
}
.checkListItem p{
margin: 0px;
}
.CarearInfoList{
padding: 20px 0px;
}
.listCardArea.SingleCareerSec{
border-left: 8px solid #136DAE !important;
padding-left: 50px;
}
.listCardArea.SingleCareerSec .appleNowBtn{
position: relative !important;
margin: 20px 0px 40px;
right: unset  !important;
top: unset  !important;
}
.ListingSection.SingleCareer{
    border-top: 0px;
}
