.communitiesSection{
padding: 60px 0px;
}
.sctionMdTitle{
font-size: 40px;
text-transform: uppercase;
font-weight: 500;
}
.proSelectBox{
padding:15px  24px;
box-shadow: 0px 7px 30px #0000002e;
}
.proSelectBox label{
color: #136DAE ;
font-size: 18px;
margin-bottom: 0px;
font-weight: 500;
}

/* React Select CSS Start */

.reactSelectInput > div:nth-child(3) {
background-color: unset;
border: 0;
cursor: pointer;
}
.reactSelectInput > div:nth-child(3) > div:first-child >div:first-child{
font-size: 16px;
font-weight: 500;
color: #3f3f3f;
}
.reactSelectInput > div:nth-child(3) > div:nth-child(2) > span {
display: none;
}
.reactSelectInput > div:nth-child(3) > div:nth-child(2) >div:nth-child(2){
color: #3f3f3f;
}
.reactSelectInput > div:nth-child(4) > div:first-child > div{
font-size: 14px;
cursor: pointer;
}
.reactSelectInput > div:nth-child(4) > div:first-child{
max-height: 200px;
overflow-y: auto;
}
.reactSelectInput > div:nth-child(4) > div:first-child > div[aria-selected="true"]{
background-color: #136DAE !important;
}
.reactSelectInput > div:nth-child(4) > div:first-child::-webkit-scrollbar {
width: 8px;
}
.reactSelectInput > div:nth-child(4) > div:first-child::-webkit-scrollbar-track {
background: #f1f1f1; 
}
.reactSelectInput > div:nth-child(4) > div:first-child::-webkit-scrollbar-thumb {
background: #959595; 
border-radius: 100px;
}
/* React Select CSS End */


.cardBox {
position: relative;
width: 100%;
margin-bottom: 20px;
display: block;
}

.clmCardImage{
display: block;
width: 100%;
height: 280px;
object-fit: cover;
}

.overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
overflow: hidden;
width: 100%;
height: 20%;
transition: .5s ease;
padding:15px 15px;
background:linear-gradient(0deg, #1a2038, #0000000d);
}

.cardBox:hover .overlay {
height: 50%;
}

.crdtitle {
text-transform: uppercase;
font-size: 18px;
font-weight: 700;
color: #fff;
}
.crdText{
font-size: 14px;
margin: 0px;
color: #fff;
opacity: 0;
transition: .8s ease;
display: -webkit-box;
width: 100%;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
overflow: hidden;
}
.cardBox:hover .crdText{
opacity: 1;
}
.bdrBtn{
background-color: unset;
border: 1.5px solid #136DAE;
padding: 5px 20px;
color: #136DAE;
transition: 0.3s ease;
display: block;
font-size: 16px;
}
.bdrBtn:hover{
background-color: #136DAE;
color: #fff;
box-shadow: 0px 3px 5px #00000052;
}
.mrAuto{
margin: 0 auto;
}
.loadBtn{
font-size: 18px;
}