.dubaiGuideSection .swiper-wrapper{
align-items: center  !important;
}
.multiSilder .swiper {
width: 100% !important;
height: 100% !important;
}
.multiSilder .swiper-slide {
text-align: center !important;
font-size: 18px !important;
display: flex !important;
justify-content: center !important;
align-items: center !important;
display: flex !important;
flex-direction: column !important;
align-items: center !important;
justify-content: center !important; 
height: 100% !important;
position: relative !important;
overflow: hidden !important;
padding: 0px !important;
}
.multiSilder .swiper-slide:before{
content: "" !important;
width: 100% !important;
height: 100% !important;
background-color: #0000006e !important;
position: absolute !important;
left: 0px !important;
top: 0px !important;
}

.swiper-slide.swiper-slide-prev.clmSliderItem, .swiper-slide.swiper-slide-next.clmSliderItem {
width: 15% !important;
}
.swiper-slide.swiper-slide-prev.clmSliderItem .carouselcontent, .swiper-slide.swiper-slide-next.clmSliderItem .carouselcontent{
display: none !important;
}
.clmSliderItem .multiItem{
width: 100% !important;
height: 350px !important;
object-fit: cover !important;
}
.swiper-slide.swiper-slide-active.clmSliderItem{
width: 70% !important;
height: 500px !important;
}
.swiper-slide.swiper-slide-active.clmSliderItem .multiItem{
height: 500px !important;
}
.dubaiGuideSection{
/* margin: 60px 0px !important;   */
}
.dubaiMy60{
    margin: 60px 0px !important;  
}
.horizantalCard{
background-color: #f6f6f6 !important;   
align-items: center !important;
margin-bottom: 60px !important;
}
.crdImgBox .horiCrdImg{
width: 100% !important;
height: 450px !important;
object-fit: cover !important;
}
.horizantalCard .crdContentBox{
padding: 20px 30px !important;
}
.downloadBtn{
background-color: #2f3c6a !important;
color: #fff !important;
border: 0px;
box-shadow: 0px 3px 5px #00000052 !important;
transition: 0.3s ease !important;
border: 1.5px solid #2f3c6a !important;
width: 100% !important;
height:48px !important;
font-size: 18px !important;
font-weight: 700 !important;
}
.downloadBtn:hover{
box-shadow: unset !important;
background-color: unset !important;
color: #2f3c6a !important;
border: 1.5px solid #2f3c6a !important;
}
.guidsSection{
    margin: 20px 0px 100px !important;
}
.clmSliderItem{
    position: relative !important;
}
.clmSliderItem .carouselcontent{
    text-align: center;
position: absolute !important;
top: 50% !important;
left: 50% !important;
transform: translate(-50%, -50%) !important;
width: 100% !important;
max-width: 80% !important;
z-index: 2 !important;
}
.clmSliderItem .carouselcontent h3{
color: #fff !important;
font-size: 36px !important;
font-weight: 500 !important;
margin-bottom: 40px !important;
}
.clmSliderItem .carouselcontent .downloadBtn {
width: 300px !important;
}

.clmSliderItem .downloadBtn:hover{
    box-shadow: unset !important;
    background-color: unset !important;
    color: #ffffff !important;
    border: 1.5px solid #2f3c6a !important;
    }

    .swiper-horizontal{
        background-color: unset !important;
    }