.wizardWrapArea{
/* min-height: 650px; */
margin: 10%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.wzdTitleBar{
background-color: #fff;
padding: 14px 15px;
border-left: 4px solid #136dae;
margin-bottom: 20px !important;
}
.wizardWrapArea ul li{
    color: #6f6d71 ;
    font-size: 16px;
    margin-bottom: 10px;
}
.custom-checkbox .answers-options-container{
    box-shadow:0px 3px 15px #0b5ed71a;
    background-color: #fff;
}
.dashboardcontrols.wizardWrapArea{
box-shadow: 0 5px 30px rgb(0 0 0 / 6%);
border: 1px solid #e1e1e1;
background-color: #f6f6f6;
}
.wizardFooterBar{
margin-top: 5%;
background-color: #fff;
padding: 14px 15px;   
border: 1px solid #e1e1e1;
}
.wizardFooterBar button{
width: 120px;
height: 44px;
border-radius: 0;
box-shadow: 0px 2px 5px #0000004f;
display: flex;
align-items: center;
justify-content: center;
color: #fff !important;
font-size: 14px !important;
}
.wizardFooterBar > div:nth-child(2){
display: flex;
}
.custom-checkbox .answers-options-container label span{
    font-size: 26px !important;
}
