
.lineShape{
    display: block;
    width: 100%;
    height: 1px;
    background-color:#c8c8c8;
    }
.proGalleryArea .nav-tabs{
display: flex;
align-items: center;
justify-content: center;
border: 0px;
margin-bottom: 20px;
border-bottom: 2px solid #c8c8c8;
padding-bottom: 20px;
}

.proGalleryArea .nav-tabs .nav-item .nav-link{
border: 0px !important;
color: #6f6d71 !important;
font-size: 16px;
font-weight: 500;
padding:3px 2px  !important;
margin: 0px 15px;
}
.proGalleryArea .nav-tabs .nav-item .nav-link.active{
border: 0px;
font-size: 16px;
color: #136dae  !important;
border-bottom: 2px solid #136dae  !important;
}

.blogCard{
    position: relative;
    text-decoration: none;
    display: block;
    }
    .blogCard .bCardHead{
    position: relative;
    }
    .blogCard .cdTagBtn{
    text-transform: uppercase;
    font-size: 0.7em !important;
    background-color: #fff;
    color: #2B2B2B;
    border-radius: 0px;
    font-weight: 700;
    padding: 8px 24px;
    opacity: 0.73;
    position: absolute;
    top: 15px;
    left: 15px;
    }

    .blogCard{
    margin-bottom: 20px;
    }
    .blogCard.proGalleryCard p{
    color: #2B2B2B ;
    font-size: 18px;
    margin: 15px 0px;
    font-weight: 500;
    min-height: 60px;
    }
    .blogCard.proGalleryCard span{
    font-size: 18px;
    }
    .blogCard.proGalleryCard .eventCardImg{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .blogCard.proGalleryCard{
        margin-bottom: 40px;
    }
    .viewLinkBtn{
        display: block;
        width: fit-content;
        padding: 10px 20px;
        font-size: 18px;
        text-decoration: underline;
        color: #136dae;
        background-color: transparent;
        border: 0px;
        margin: 0 auto;
    }