@media (max-width:1200px){
.contactBoxsSection .contactBox {
padding: 24px 20px;
text-align: center;
}
.contactBoxsSection .contactBox .textFlexBar p, .contactBoxsSection .contactBox h5{
font-size: 22px;
}
.addressBoxHead{
min-height: 90px;
}
.textFlexBar{
justify-content: center;
}
.bgAboutDubai{
position: absolute;
bottom: 0;
left: 0;
}
.broucherBtn{
margin-bottom: 40px;
}
}
@media (max-width:992px){
.vtTextBXox p {
font-size: 16px;
}
.vtTextBXox h3{
font-size: 18px;
} 
.sliderContentArea .sliderContent h1{
font-size: 70px;
}
.sliderContentArea .sliderContent h5{
font-size: 28px;
}
.tabsListConatiner .container .row{
padding: 0px;
}
.selectTitle .tabTitle{
font-size: 16px;
}
.priceTable thead .tblThText{
font-size: 14px;
}
.tblBtn {
width: 80px;
height: 32px;
font-size: 14px;
}
.priceTable thead th{
min-width: 90px;
}
.sctionMdTitle{
font-size: 32px;
}
.contactBoxsSection .contactBox.bdr{
border: 0px;
}
section.contactBoxsSection{
padding: 30px 0px;
}
.contactBoxsSection .contactBox{
padding:20px 0px;
}
.TeamRow{
grid-template-columns: auto auto auto !important ;
}
.rowSec{
flex-direction: column;
width: 100%;
}
.guideSellSection .colmBox.formBox, .guideSellSection .rowSec .colmBox{
width: 100%;
}
.sliderThumbnailArea .sliderModalBox{
width: 200px;
}
.sliderThumbnailArea .gallerymodalBtn{
font-size: 11px;
}
.sliderModalBox .gallerymodalBtn i{
font-size: 14px;
}
.sliderThumbnailArea{
height: 9vw !important;
}
}
@media (max-width:768px){
.AddressArea{
flex-direction: column;
}
.AddressArea .addressBox{
width: 100%;
}
.AddressArea .addressBoxContent{
max-height: unset;
margin-bottom: 30px;
padding: 30px;
}
.tabsListConatiner .container .row{
display: flex;
flex-direction: column;

}
.tabsListConatiner .col-3.selectTitle{
width: 100%;
margin-bottom: 8px;
}
.vtTextBXox p {
font-size: 20px;
}
.vtTextBXox h3 {
font-size: 24px;
}
.secContent{
margin-bottom: 20px;
}
.priceTable tbody .tblTdText{
font-size: 13px;
}
.sliderContentArea .sliderContent{
max-width: 90%;
}
.simpleImgHeader{
height: 300px;
}
.simpleImgHeader .headerImg{
height: 300px;
}
.fillBtn.cardBtn{
font-size: 16px;
}
.proSelectBox {
padding: 15px 24px;
box-shadow: 0px 4px 20px #00000026;
margin-bottom: 20px;
}
.simpleCard{
margin-bottom: 40px;
}
.userCard{
margin-bottom: 44px;
}
section .sctionMdTitle{
font-size: 30px;
}
.simpleCard .cardTitle{
font-size: 24px;
}
.addressBoxContent iframe{
width: 100%;
height: 300px;
}
section.addressSection {
margin-bottom: 30px;
}
.contactBox h5{
margin-bottom: 15px;
}
header .headerSimpleImg{
height: 250px;
}
header.aboutHeader .headerSimpleImg{
height: 160px ;
}
.aboutPgSection{
padding-top: 40px !important;
}
.TeamRow .teamCard{
width: 100%;
}
.TeamRow{
grid-template-columns: auto auto !important ;
}
.homeHeader .videoMain{
height: 260px;
}
.listCardArea .fillBtn.appleNowBtn{
position: relative;
top: unset;
right: unset;
}
.headerImgVideo{
height: 500PX;
}
.headTitle{
font-size: 36px;
}
.listCardArea.SingleCareerSec{
padding-left: 20px;
border-left: 6px solid #136DAE !important;
}
.listCardTit{
font-size: 30px;
margin-bottom: 10px;
}
.arrrowIconImg{
display: none;
}
.guideSellSection .colmBoxContent h2{
font-size: 30px;
}
.guideSellSection .colmBoxImg{
height: 400px;
}
.guideSellSection .colmBox.formBox{
padding: 20px;
}
.sellWithRange .headerImgVideo{
height: 480px !important;
}
.sellWithRange .headTitle{
font-size: 24px;
font-weight: 500;
}
.rowArea .colmBox h5{
font-size: 16px;
}
.sectionSec .rowArea .colmBox .iconImg {
width: 60px;
height: 60px;
}
.videoSectionContiner .videoBox .videoMain{
height: 200px;
}
.bgAboutDubai{
position: relative;
}
.bgAboutDubai{
width: 100%;
height: 280px;
}
.dashboardcontrols.wizardWrapArea{
padding: 30px 20px !important;
}
.sliderThumbnailArea{
height: unset !important;
flex-direction: column;
}
.sliderThumbnailArea .swiper.swiperThumbnailColm.swiper-initialized{
height: unset !important;
}
.sliderModalBox .gallerymodalBtn i{
font-size: 18px;
}
.sliderThumbnailArea .gallerymodalBtn{
font-size: 14px;
height: 40px;
}
.sliderThumbnailArea .sliderModalBox{
margin: 15px auto 10px;
}
.socialfixBar .fixBtnContent{
flex-direction: column;
justify-content: center;
}
.fixBtnContent .btnContentItem{
font-size: 9px;
padding: 10px 6px;
gap: 6px;
}
.fixBtnIcon {
width: 26px;
height: 16px;
}
.fixBtnContent .btnContentItem .fa-whatsapp{
font-size: 20px;
}


.frmTabList .nav-link{
min-width: 90px;
font-size: 12px;
}
.search-input.frmSearcBar input{
font-size: 14px;
height: 44px;
}
.search-input.frmSearcBar .fa-search{
font-size: 16px;
top: 12px;
}
.headerForm{
width: 90%;
}
.navbar .container .my-auto .d-flex.justify-content-end{
position: absolute;
left: 10px;
bottom: 5px;
width: 210px;
justify-content: flex-start !important;
}
nav.navbar.bg-white{
padding-bottom: 15px;
}
.clmSliderItem .carouselcontent .downloadBtn {
width: 206px;
font-size: 16px;
}
.clmSliderItem .carouselcontent h3{
font-size: 25px !important;
}
.sellWithRange .headConentBox{
max-width: 90% !important;
}
.wizardFooterBar button{
width: 70px !important;
}
.homeHeader .videoContainer {
display: none;
}
.homeHeader{
background-image: url("/images/poster-img.png");
width: 100%;
height: 260px;
background-size: cover;
background-position: center;
}
.secTabCntent {
padding-left: 15px !important;
}
.header.careerHeader {
height: auto !important;
}
.faqSection{
margin-top: 20px !important;
}
.location-heading {
font-size: 34px !important;
}
.communityImgCont img {
height: 400px !important;
}
.propCard .propImg {
height: 200px !important;
}
.sliderContentArea .sliderContent h1 {
font-size: 40px !important;
}
.sliderContentArea .sliderContent h5 {
font-size: 24px !important;
}
.sliderContentArea .sliderContent{
max-width: 100% !important;
}
.vtTextBXox {
padding: 15px 0px !important;
}
.pb-5.communitySwiper{
padding-bottom: 0px !important;
}
.aboutHeader{
height: auto !important;
}
.section.carouselSection{
margin-bottom: 0px !important;
}
.video iframe {
height: 300px !important;
top: 0 !important;
}
.joinRange{
font-size: 28px !important;
}
.swiper-slide.swiper-slide-active.clmSliderItem {
height: 300px !important;
}
.swiper-slide.clmSliderItem.swiper-slide-next{
height: 250px !important;
}
.swiper-slide.clmSliderItem.swiper-slide-prev{
height: 250px !important;
}
.dubaiGuideSection .mb-5{
margin-bottom: 0px !important;
}
.dubaiGuideSection{
padding-bottom: 0px !important;
}
.dubaiGuideSection .multiSilder{
height: 350px !important;
}
.crdImgBox .horiCrdImg {
height: 250px !important;
}
.horizantalCard .crdContentBox {
padding: 20px 10px !important;
}
.imgSection .contentBox h2 {
font-size: 28px !important;
}
.imgSection.overlayBgClr{
height: 300px !important;
}
.socialLinkNav .iconRoundBlack{
width: 28px;
height: 28px;
display: flex;
align-items: center;
padding: 0;
justify-content: center;
}
.offcanvas-body .mobItemLink{
display: block   !important;
}
.propertyMobItemLink{
    display: block   !important;
}
.propertyDesktopItemLink{
    display: none   !important;
}

.lookingForMobileItem{
    display: block   !important;
}
.lookingForDesktopItem{
    display: none   !important;
}

.dubaiGuideSection .clmSliderItem .carouselcontent .downloadBtn {
width: 200px !important;
}
.lookingMobileCard{
    text-align:-webkit-center !important
}
.lookingSingleMobileCard{
    width:50% !important;
    height:50% !important;
    text-align:-webkit-center
}
.priceTable thead .tblThText {
    font-size: 12px !important; 
}
}