
.headerImg{
width: 100%;
object-fit: cover;
height: 500px;
}
.servicePageSec{
padding: 50px 0px;
}
.sctionMdTitle{
font-size: 40px;
text-transform: uppercase;
font-weight: 500;
}
.serviceCard{
width: 100%;
box-shadow:0px 0px 24px #00000017;
margin-bottom: 30px;
}
.serviceCardImg{
width: 100%;
height: 280px;
object-fit: cover;
}
.cardTitle{
font-size: 26px;
text-transform: uppercase;
font-weight: 500;
color: #136DAE ;
margin-bottom: 20px;
}
.serCardContent{
padding: 30px 30px;
}

.fillBtn{
background-color: #136DAE;
color: #fff;
border: 0px;
box-shadow: 0px 3px 5px #00000052;
transition: 0.3s ease;
border: 1.5px solid #136DAE;
}
.fillBtn:hover{
box-shadow: unset;
background-color: unset;
color: #136DAE;
border: 1.5px solid #136DAE;
}
.tblBtn{
width: 100px;
height: 36px;
font-size: 16px;
text-transform: uppercase;
display: block;
}
.fillBtn.cardBtn{
width: 100%;
}
.fillBtn.cardBtn{
width: 100%;
height: 50px;
font-size: 18px;
text-transform: uppercase;
font-weight: 700;
background-color: #2f3c6a;
border: 1.5px solid #2f3c6a;
}
.fillBtn.cardBtn:hover{
background-color: unset;
color:#2f3c6a !important;
border: 1.5px solid #2f3c6a;
}
.imgSection{
background-image: url("/images/services/service-footer.webp");
width: 100%;
height: 500px;
background-size: cover;   
position: relative;
}
.overlayBgClr{
position: relative;
}
.overlayBgClr::before{
content:"";
background-color: rgb(0 0 0 / 28%);
width: 100%;
height: 100%;
position: absolute;
left: 0px;
top: 0px;
}
.imgSection  .contentBox{
width: 100%;
max-width: 500px;
margin: 0 auto;
text-align: center;
position: relative;
display: flex;
flex-direction: column;
height: 100%;
justify-content: center;
}
.imgSection  .contentBox h2{
color: #fff;
font-size: 34px;
margin-bottom: 30px;
}
.bdrBtn {
    background-color: unset;
    border: 2px solid #fff;
    color: #fff;
    font-size: 14;
}
.bdrBtn.largBtn{
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    height: 60px;
    display: block;
    margin: 0 auto;
}