@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css");
@import "../public/css/style.css";
@import "../public/css/bottombar.css";
@import "../public/css/responsive.css";

.map-container {
  height: 80vh;
  width: 100%;
  margin: auto;
}
.mapMarker {
  align-items: center;
  background-color: #e93636;
  border-radius: 50%;
  color: #263238;
  display: flex;
  font-size: 14px;
  gap: 15px;
  height: 30px;
  justify-content: center;
  padding: 4px;
  position: relative;
  position: relative;
  transition: all 0.3s ease-out;
  width: 30px;
}
.mapMarker .icon {
  align-items: center;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.PhoneInputInput{
  border: 0px !important;
}


input:focus, input.form-control:focus {

  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.gm-style .gm-style-iw-c {
  top: -26px !important;
}
.gm-style .gm-style-iw-tc::after {
  top: -26px !important;
}
body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
p,
small,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
/* common  */
.form-control {
  border: 1px solid #ced4da !important;
}
.text-primary {
  color: #136dae !important;
}
.border-primary {
  border-color: #136dae !important;
}
.text-secondary {
  color: #6f6d71 !important;
}
.text-dark {
  color: #2b2b2b !important;
}
.text-blue {
  color: #2f3c6a !important;
}
.bg-blue {
  background-color: #2f3c6a !important;
}
.communityMainSwiper .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
}
.communityTab {
  background-color: white;
  color: #136dae;
  text-align: center;
  height: 100%;
  padding: 25px 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  cursor: pointer;
}
.communityTab:hover,
.communityTab.active {
  background-color: #136dae;
  color: #fff;
}
.communityTab h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 0px;
}
.sectionBanner .row {
  background: #f6f6f6;
  align-items: center;
  padding: 40px 20px;
  border-radius: 30px;
}
.sectionBanner {
  margin-bottom: 60px;
}
.fs-10 {
  font-size: 10px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.bnrTitle {
  color: #3f3f3f;
  font-size: 22px;
  font-weight: 600;
}
.fillBtn.contactBtn {
  width: 180px;
  font-size: 12px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
}
.fillBtn:hover {
  box-shadow: unset;
  background-color: unset;
  color: rgb(19, 109, 174);
  border-width: 1.5px;
  border-style: solid;
  border-color: rgb(19, 109, 174);
  border-image: initial;
}

#sellSubmit:hover {
  color: rgb(19, 109, 174) !important;
}

label {
  color: #6f6d71 !important;
  font-size: 14px !important;
  display: inline-block;
}
.communityImgCont img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.fillBtn.contactBtn {
  width: 180px;
  font-size: 12px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
}
.fillBtn {
  background-color: #136DAE;
  color: #fff;
  /* border: 0px; */
  box-shadow: 0px 3px 5px #00000052;
  transition: 0.3s ease;
  border: 1.5px solid #136DAE;
}
.btn-blue:hover {
  background-color: white !important;
  color:  #2f3c6a !important
}
#floorplan .agent-img img {
  width: 100%;
  max-width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
#saleSale .agent-img img {
  width: 100%;
  max-width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
#downlaodPPT  .agent-img img {
  width: 100%;
  max-width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
#bookAmeeting .agent-img img {
  width: 100%;
  max-width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
#enquireNow .agent-img img {
  width: 100%;
  max-width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
#simpleModal .agent-img img {
  width: 100%;
  max-width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
#careerModel .agent-img img {
  width: 100%;
  max-width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}


#bookAmeeting .btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
}
.cntInptField {
  border-radius: 2px;
  height: 44px;
  border: 1px solid #eeeeee;
  padding-left: 15px;
  font-size: 14px;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}
  .accordion-item{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
    background: #fff;
}
.accordion-content {
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
}
.text-center {
  text-align: center;
}
.padding-bottom {
  padding-bottom: 32px;
}
.padding {
  padding-top: 10px;
}
.upper-heading {
  color: #293A77;
  font-size: 21px;
  /* font-family: Raleway; */
  font-weight: 600;
}
.location-heading {
  color: #293A77;
  font-size: 40px;
  /* font-family: Raleway; */
  font-weight: 700;
}
.video iframe {
  width: 100%;
  height: 415px;
  position: relative;
  top: 45px;
}
.video-text {
  font-weight: 500;
  /* padding: 4% 0; */
  line-height: 30px;
  /* font-family: Raleway; */
  font-size: 22px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: #293A77;
}
textarea {
  border: 1px solid #66666685;
  padding: 10px;
  color: #474544;
  border-radius: 0px;
  height: 90px;
  }
  .propCard .propImg {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background: #fff;
  /* width: 1000px; */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.floorplans{
  width: 100% !important;
  height: 400px !important;
  object-fit: contain !important;
}
#dropdown-basic{
  text-align: left;
  border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
.btn-check:checked+.btn {
  /* color: white !important; */
}
.options-container {
  padding: 20px;
  max-height: 200px;
  overflow-y: scroll;
  min-width: 600px;
}


.dt {
  border: 1px solid lightgray;
}
.fc {
  padding-left: 20px;
  padding-right: 20px;
}
.options-container {
  padding: 20px;
  max-height: 200px;
  overflow-y: scroll;
  min-width: 600px;
}
.im {
  width: 100%;
}
.bu {
  z-index: 300 !important;
}

#suggestion-box {
  position: relative;
}

#suggestion {
  position: absolute;
  margin-top: 0.5rem;
  padding: 10px;
  width: 100%;
  white-space: nowrap;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}
.suggestion-link {
  text-decoration: none;
  color: #000;
}
.Link {
  text-decoration: none;
}
.react-share__ShareButton{
  background-color: #64b161 !important;
  color: white !important;
}
.projectType {
  text-transform: uppercase;
  font-size: 0.7em;
  background-color: #fff;
  color: #2B2B2B;
  border-radius: 0px;
  font-weight: 700;
  padding: 10px 20px;
  opacity: 0.73;
  float: right;
}
.bg-primary {
  background-color: #136DAE !important;
  }
  .w-auto{
    width: auto !important;
  }
  .float-end{
    float: right !important;
  }
  .row-gap-3{
    row-gap: 1rem!important;
  }

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

